header{
	background: url(img/baguio2.jpg);
	height: 400px;
	width: 100%;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 12px;
	padding-left: 16px;
	object-fit: scale-down;
}

body{
	margin: 0;
	font-size: 20px;
	line-height: 30px;
}

main{
	margin: 10px;
	font-size: 20px;
	line-height: 30px;
}