* {
  box-sizing: border-box;
}


.mainheader {
  padding: 30px;
  text-align: center;
  background-image: url(img/baguio2.jpg);
  font-size: 60px;
  color: whitesmoke;
  font-family: Impact;
  height: 320px;
}

.subheader {
  padding: 30px;
  color: #0c4c8a;
  background-image: url(img/backgroundhead.jpg);
  background-repeat: no-repeat;
}

.tableHeader {
  padding: 30px;
  color: #2e6c80;
  font-family: helvetica;
}

.ul {
  border-style: solid;
  border-color: #1f375d;
  background-color: white;
}

.linkedli {
  color: #2e6c80;
  font-style: italic;
}

.td {
  width: 50%;
  text-align: center;
}

header {
  background: url(img/baguio2.jpg);
  height: 400px;
  width: 100%;
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 12px;
  padding-left: 16px;
  object-fit: scale-down;

}

body {
  margin: 0;
  font-size: 20px;
  padding: 0px;
  line-height: 30px;
  font-family: helvetica;
  background-image: url(img/white.jpg);
}

main {
  margin: 10px;
  font-size: 20px;
  line-height: 30px;
  padding: 20px;
}

li a {
  color: #337991;
  text-decoration: none;
}

li a:hover {
  color: orangered;
}

footer {
  color: whitesmoke;
  background-color: #337991;
  margin: 0 auto;
  padding: 2px 2px 1px 20px;
  max-width: 2000px;
}

footer p {
  line-height: 70%;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
  text-decoration: underline;
}

footer a:hover {
  color: red;
}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -moz-animation: 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.image-grid img:hover {
  transform: scale(1.15);
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 1;
    --row-height: 200px;
  }
}

.slidershow {
  width: 913px;
  height: 580px;
  overflow: hidden;
}

.middle {
  position: absolute;
}


.navigation {
  position: absolute;
  bottom: 0px;
  left: 40%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 100px;
  height: 20px;
  border: 5px solid rgb(50, 131, 207);
  margin: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.bar:hover {
  background: rgb(27, 116, 250);
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.8s;
}

.slide img {
  width: 80%;
  height: 100%;
  position: absolute;
  clip: rect(0px, 3000px, 515px, 0px);
  border: 3px solid rgb(28, 169, 194);
}

#r1:checked~.s1 {
  margin-left: 0;
}

#r2:checked~.s1 {
  margin-left: -20%;
}

#r3:checked~.s1 {
  margin-left: -40%;
}

#r4:checked~.s1 {
  margin-left: -60%;
}

table,
th,
td {
  border: 3px solid #2e6c80;
  background-color: white;
}

/* Style for Top Navigation bar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #018abe;
  overflow: hidden;
  margin-top: 1px;
  margin-bottom: 1px;
  border-color: whitesmoke;
  border: 1px;
  padding: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.container_cards {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  border: 5px solid rgb(248, 248, 248);
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 30px rgb(13, 215, 230);
  transition: 500ms all;
  background-size: cover;
  background-position: center;
  background-color: rgb(55, 248, 255);
}

.cards:hover {
  transform: scale(1.1);
}

.card-content {
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  transition: 300ms all;
}

.imageNews img {
  height: auto;
  cursor: pointer;
  display: block;
  width: 100%;
}

.imageNews #zoom-In figure img {
  transform: scale(1);
  transition: 0.4s ease-in-out;
}

.imageNews #zoom-In figure:hover img {
  transform: scale(1.2);
}

figure {
  box-shadow: 0px 0px 20px black;
  overflow: hidden;
  margin: 0 10px;
}

.imageNews {
  display: inline-block;
  width: 80%;
}

.Centered {
  text-align: center;
}

.cards:hover .cards-content {}